[submodule "third-party/cli11"]
	path = third-party/cli11
	url = https://github.com/CLIUtils/CLI11.git
[submodule "third-party/libgit2"]
	path = third-party/libgit2
	url = https://github.com/libgit2/libgit2
