*.o
*.dll
*.exe
*.deb
*.so
*.obj
*.pdb
*.lib
*.a
*.ilk
*.idb
*.exp
*.iobj
*.ipdb
*.ipch
*.pch
*.pyo
*.pyc
*.class
*.jar
*.war
*.ear
*.swp
*.swo
*.tmp
*.log
*.aux
*.out
*.toc
*.gz
*.zip
*.tar
*.7z
*.rar
*.rpm
*.msi
*.dmg
*.pkg
*.log
nls
build/
_CPack_Packages/
CMakeUserPresets.json
compile_commands.json
