*.o
*.dll
*.exe
*.deb
*.so
*.obj
*.pdb
*.lib
*.a
*.ilk
*.idb
*.exp
*.iobj
*.ipdb
*.ipch
*.pch
*.pyo
*.pyc
*.class
*.jar
*.war
*.ear
*.swp
*.swo
*.tmp
*.log
*.aux
*.out
*.toc
*.gz
*.zip
*.tar
*.7z
*.rar
*.rpm
*.msi
*.dmg
*.pkg
*.log
nls
!test/assets/*.tar.gz
test/_logs/
build/
_CPack_Packages/
test/lin/
test/win/
Testing/
CMakeUserPresets.json
compile_commands.json
NLS.sqlite3-shm
NLS.sqlite3-wal
